openapi: 3.0.1
info:
  title: SIGMOB Endpoints
  description: 'Endpoints expostos do SIGMOB, aplicação da SMTR de gerênciamento de mobilidade urbana do Rio de Janeiro. Acesse o [SIGMOB](http://jeap.rio.rj.gov.br/MOB/open.do?sys=MOB).'
  version: 1.0.0
servers:
- url: https://jeap.rio.rj.gov.br/MOB
tags:
- name: GTFS
  description: Tabelas referentes ao GTFS
  externalDocs:
    description: Entenda o GTFS
    url: http://gtfs.org
paths:
  /get_trips.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_trips
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
  /get_routes.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_routes
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
  /get_linhas.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_linhas
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
  /get_agency.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_agency
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
  /get_stop_times.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_stop_times
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
  /get_stops.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_stops
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      - name: INDICE
        in: query
        required: true
        schema:
          type: integer
          example: 0
        description: paginação
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
  /get_shapes.rule:
    get:
      tags:
      - GTFS
      summary: Itinerários
      description: Retorna itinerários cadastrados no SIGMOB
      operationId: get_shapes
      parameters:
      - name: sys
        in: query
        description: Parametro padrão
        required: true
        schema:
          type: string
          enum:
          - MOB
      - name: INDICE
        in: query
        required: true
        schema:
          type: integer
          example: 0
        description: paginação
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid status value
          content: {}
